@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #02302d;

  --font-new-york: 'New York', serif;
  --font-axiforma-light: 'Axiforma Light', sans-serif;
  --font-axiforma-normal: 'Axiforma', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-axiforma-ligh);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-axiforma-normal);
}
